.blogsection {
    padding: 150px 0 80px 0;

    .blogcontent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .bloghead {
            h6 {
                font-weight: 400;
                font-family: 'montserrat', sans-serif !important;
                font-size: 16px;
                line-height: 93%;
                color: #fdfdfd;
                text-align: center;
            }

            h2 {
                font-family: 'Boldonse', system-ui !important;
                font-weight: 400;
                line-height: 90px;
                color: #fdfdfd;
                font-size: 64px;
            }
        }

        .blogimages {
            padding: 30px 0;

            img {

                width: 100%;
                height: 40vh;
                object-fit: cover;
            }

            .titleHead {
                display: flex;
                gap: 20px;
                padding-top: 20px;

                .title {
                    font-size: 16px;
                    font-weight: 400;
                    color: #fdfdfd;
                    line-height: 93%;
                    font-family: 'montserrat', sans-serif !important;
                }

                .date {
                    font-size: 14px;
                    font-weight: 400;
                    font-family: 'roboto', sans-serif !important;
                    line-height: 125%;
                    color: #cfc9c9;

                }
            }

            .about {
                p {
                    font-size: 20px;
                    font-family: 'montserrat', sans-serif !important;
                    font-weight: 500;
                    line-height: 93%;
                    font-style: medium;
                    color: #fdfdfd;
                }
            }
        }
    }
}

//mobile responsive
@media (max-width: 768px) {
    .blogsection {

    .blogcontent {

        .bloghead {
            
            h2 {
                font-size: 36px !important;
                line-height: 55px !important;
                text-align: center !important;
            }
        }

        .blogimages {

            img {
                height: 30vh !important;
                margin-top: 20px !important;
               
            }

            .titleHead {
               padding-top: 10px !important;
            }

            .about {
                p {
                    font-size: 16px !important;
                }
            }
        }
    }
}

}