.blogsection {
  padding: 150px 0 80px 0;
}
.blogsection .blogcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blogsection .blogcontent .bloghead h6 {
  font-weight: 400;
  font-family: "montserrat", sans-serif !important;
  font-size: 16px;
  line-height: 93%;
  color: #fdfdfd;
  text-align: center;
}
.blogsection .blogcontent .bloghead h2 {
  font-family: "Boldonse", system-ui !important;
  font-weight: 400;
  line-height: 90px;
  color: #fdfdfd;
  font-size: 64px;
}
.blogsection .blogcontent .blogimages {
  padding: 30px 0;
}
.blogsection .blogcontent .blogimages .blogrow {
  flex-wrap: wrap;
  justify-content: center;
}
.blogsection .blogcontent .blogimages .blogrow img {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.blogsection .blogcontent .blogimages .blogrow .titleHead {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
.blogsection .blogcontent .blogimages .blogrow .titleHead .title {
  font-size: 16px;
  font-weight: 400;
  color: #fdfdfd;
  line-height: 93%;
  font-family: "montserrat", sans-serif !important;
}
.blogsection .blogcontent .blogimages .blogrow .titleHead .date {
  font-size: 14px;
  font-weight: 400;
  font-family: "roboto", sans-serif !important;
  line-height: 125%;
  color: #cfc9c9;
}
.blogsection .blogcontent .blogimages .blogrow .about p {
  font-size: 20px;
  font-family: "montserrat", sans-serif !important;
  font-weight: 500;
  line-height: 93%;
  font-style: medium;
  color: #fdfdfd;
}

@media (min-width: 1025px) and (max-width: 1370px) {
  .bloghead h2 {
    font-size: 44px !important;
  }
  .blogrow {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
  }
  .blogrow img {
    height: 30vh !important;
    -o-object-fit: contain !important;
       object-fit: contain !important;
  }
}
@media (max-width: 1024px) {
  .blogsection {
    padding: 100px 0 60px 0;
  }
  .blogsection .blogcontent .bloghead h2 {
    font-size: 35px !important;
    line-height: 50px !important;
    text-align: center !important;
  }
  .blogsection .blogcontent .blogimages .blogrow {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
  }
  .blogsection .blogcontent .blogimages .blogrow img {
    height: 45vh !important;
    -o-object-fit: contain !important;
       object-fit: contain !important;
  }
  .blogsection .blogcontent .blogimages .blogrow .titleHead {
    padding-top: 15px !important;
  }
  .blogsection .blogcontent .blogimages .blogrow .about p {
    font-size: 18px !important;
  }
}
@media (max-width: 992px) {
  .blogsection {
    padding: 100px 0 60px 0;
  }
  .blogsection .blogcontent .bloghead h2 {
    font-size: 35px !important;
    line-height: 50px !important;
    text-align: center !important;
  }
  .blogsection .blogcontent .blogimages .blogrow {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
  }
  .blogsection .blogcontent .blogimages .blogrow img {
    height: 25vh !important;
    -o-object-fit: contain !important;
       object-fit: contain !important;
  }
  .blogsection .blogcontent .blogimages .blogrow .titleHead {
    padding-top: 15px !important;
  }
  .blogsection .blogcontent .blogimages .blogrow .about p {
    font-size: 18px !important;
  }
}
@media (max-width: 767px) {
  .blogsection {
    padding: 20px 0 60px 0;
  }
  .blogsection .blogcontent .bloghead h2 {
    font-size: 25px !important;
    line-height: 55px !important;
    text-align: center !important;
  }
  .blogsection .blogcontent .blogimages {
    padding: 0px 0 !important;
  }
  .blogsection .blogcontent .blogimages .blogrow {
    padding: 0 10px !important;
  }
  .blogsection .blogcontent .blogimages .blogrow img {
    -o-object-fit: contain !important;
       object-fit: contain !important;
    height: 30vh !important;
    margin-top: 20px !important;
  }
  .blogsection .blogcontent .blogimages .blogrow .titleHead {
    padding-top: 10px !important;
  }
  .blogsection .blogcontent .blogimages .blogrow .about p {
    font-size: 16px !important;
  }
}/*# sourceMappingURL=blog.module.css.map */