.header-top-area {
  .head-top-contacts {
    ul {
      display: flex;
      align-items: center;
      justify-content: end;
      margin: 0;
      position: relative;
      z-index: 999;
      background-color: #ff0000;
      padding: 10px 0 10px 0;
      width: fit-content;
      margin-left: auto;
      gap: 40px;
      padding: 20px 40px;
      
    //   @media (max-width: 768px) {
        
    //     .head-top-contacts {
    //       ul{
    //         gap: 20px;
    //       }
    //   }
    // }
      li {
        list-style: none;
        .link {
          font-family: 'montserrat', sans-serif !important;
          font-weight: 400;
          font-size: 14px;
          line-height: 93%;
          text-decoration: none;
          color: #fdfdfd;
        }
      }
    }
  }
}
