.footerArea {
  position: relative;
  padding: 170px 0 0 0;

  .firstcol {
    padding: 40px 0 0 90px;
    .bigleap {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      .footerImage {
        width: 55%;
        height: 27vh;
        object-fit: contain;
      }
    }

    .address {
      // padding-top: 90px;
      h6 {
        margin: 0;
        color: #fdfdfd;
        font-weight: 400;
        font-family: "Montserrat", sans-serif !important;
        font-size: 16px;
        line-height: 125%;
      }
    }
  }
  .content {
    padding: 0 0 30px 70px;

    .bigleapCnt {
      h2 {
        margin: 0 0 50px 0;
        color: #fdfdfd;
        line-height: 90px;
        font-size: 64px;
        font-weight: 400;
        font-family: "Boldonse", system-ui !important;
      }
    }

   

    .footerList {
      .subcol {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

        h5 {
          font-family: "Montserrat", sans-serif !important;
          font-weight: 600;
          font-style: semi-bold;
          margin-bottom: 10px;
          font-size: 20px;
          line-height: 93%;
          color: #ff0106;

          // color: #fdfdfd;
        }

        ul {
          padding-left: 0;
          list-style: none;
          padding-top: 10px;
          li {
            list-style: none;
            line-height: 30px;

          .iconImg{
            margin-right: 10px;
          }

            a {
              color: #d0d0d0;
              text-decoration: none;
              font-family: "Montserrat", sans-serif !important;
              font-size: 16px;
              line-height: 140%;
              font-weight: 400;

            
            }
            a:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid #3e3e3e;
    padding: 40px 0 0 0;
    width: 100%;

    .footerCopyRight {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      li {
        list-style: none;
        color: #bdbdbd;
        font-family: "Montserrat", sans-serif !important;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;

        a {
          font-family: 'montserrat', sans-serif !important;
          font-weight: 400;
          font-size: 16px;
          line-height: 125%;
          text-decoration: none;
          color: #fff;
        }

        a:hover {
          color: #ed2124;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
.bigleapCnt {
      h2 {
font-size: 30px !important;
line-height: 30px !important;
      }
}
.firstcol{
  padding: 0 0 0 90px !important;
}
}
@media (max-width: 992px) {
  .footerArea {
    padding: 120px 0 0 0;

    .firstcol {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0 0 0;

      .bigleap {
        .footerImage {
          width: 65%;
          height: 20vh;
        }
      }

      .address {
        // padding-top: 90px;
        h6 {
          font-size: 14px;
        }
      }
    }
    .content {
      padding: 0 0 0px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .bigleapCnt {
        h2 {
          line-height: 80px;
          font-size: 40px;
          margin: 0 0 40px 0;
        }
      }
    }

   

    .footerList {
      .subcol {
       padding-left: 20px;

        h5 {
          font-size: 18px;
          margin-bottom: 8px;
        }

        ul {
         
          li {
            line-height: 25px;

          .iconImg{
            margin-right: 8px;
          }

            a {
              font-size: 14px;
            }
          }
        }
      }
    }
    .footer-bottom {
      padding: 30px 0 0 0;
      .footerCopyRight {
       

        li {
          font-size: 14px;

          a {
            font-size: 14px ;
          }
        }
      }
    }
  }
}
//mobile responsive

@media (max-width: 767px) {
  .footerArea {
  

  .firstcol {
    padding: 0 35px !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    .bigleap {
      

      .footerImage {
        
      }
    }

    .address {
      // padding-top: 90px;
      h6 {
       
      }
    }
  }
  .content {
      padding: 0 0 0 10px !important;
       .bigleapCnt {
        padding-top: 10px;
      h2 {
        line-height: 55px !important; 
        font-size: 27px !important;
        margin: 10px 10px !important;
      }
    }
  }

   

  .footerList {
    .subcol {
      padding-left: 20px !important;

      h5 {
        

      }

      ul {
        
        li {
          

        .iconImg{
        }

          a {

          
          }
          a:hover {
          }
        }
      }
    }
  }

  .footer-bottom {
    padding: 10px 0 !important;
    .footerCopyRight {
      

      li {
        
            font-size: 9px !important;

        a {
            font-size: 9px !important;
          
        }

        a:hover {
        }
      }
    }
  }
}
}
