.footerArea {
  position: relative;
  padding: 170px 0 0 0;
}
.footerArea .firstcol {
  padding: 40px 0 0 90px;
}
.footerArea .firstcol .bigleap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footerArea .firstcol .bigleap .footerImage {
  width: 55%;
  height: 27vh;
  -o-object-fit: contain;
     object-fit: contain;
}
.footerArea .firstcol .address h6 {
  margin: 0;
  color: #fdfdfd;
  font-weight: 400;
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
  line-height: 125%;
}
.footerArea .content {
  padding: 0 0 30px 70px;
}
.footerArea .content .bigleapCnt h2 {
  margin: 0 0 50px 0;
  color: #fdfdfd;
  line-height: 30px;
  font-size: 44px;
  font-weight: 400;
  font-family: "Boldonse", system-ui !important;
}
.footerArea .content .footerList .subcol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.footerArea .content .footerList .subcol h5 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600;
  font-style: semi-bold;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 93%;
  color: #ff0106;
}
.footerArea .content .footerList .subcol ul {
  padding-left: 0;
  list-style: none;
  padding-top: 10px;
}
.footerArea .content .footerList .subcol ul li {
  list-style: none;
  line-height: 30px;
}
.footerArea .content .footerList .subcol ul li .iconImg {
  margin-right: 10px;
}
.footerArea .content .footerList .subcol ul li a {
  color: #d0d0d0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
}
.footerArea .content .footerList .subcol ul li a:hover {
  color: #fff;
}
.footerArea .footer-bottom {
  border-top: 1px solid #3e3e3e;
  padding: 40px 0 0 0;
  width: 100%;
}
.footerArea .footer-bottom .footerCopyRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.footerArea .footer-bottom .footerCopyRight li {
  list-style: none;
  color: #bdbdbd;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}
.footerArea .footer-bottom .footerCopyRight li a {
  font-family: "montserrat", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-decoration: none;
  color: #fff;
}
.footerArea .footer-bottom .footerCopyRight li a:hover {
  color: #ed2124;
}

@media (min-width: 1371px) and (max-width: 1560px) {
  .bigleapCnt h2 {
    font-size: 40px !important;
    line-height: 60px !important;
  }
}
@media (min-width: 1025px) and (max-width: 1370px) {
  .bigleapCnt h2 {
    font-size: 30px !important;
    line-height: 20px !important;
  }
  .footerArea {
    padding: 70px 0 0 0;
  }
}
@media (min-width: 993px) and (max-width: 1024px) {
  .bigleapCnt h2 {
    font-size: 30px !important;
    line-height: 30px !important;
  }
  .firstcol {
    padding: 0 0 0 90px !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .footerArea {
    padding: 0px 0 0 0;
  }
  .footerArea .firstcol {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 0;
  }
  .footerArea .firstcol .bigleap .footerImage {
    width: 65%;
    height: 20vh;
  }
  .footerArea .firstcol .address h6 {
    font-size: 14px;
  }
  .footerArea .content {
    padding: 0 0 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none !important;
  }
  .footerArea .content .bigleapCnt h2 {
    line-height: 20px;
    font-size: 25px;
    margin: 0 0 40px 20px !important;
  }
  .footerArea .footerList .subcol {
    padding-left: 20px;
  }
  .footerArea .footerList .subcol h5 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .footerArea .footerList .subcol ul li {
    line-height: 25px;
  }
  .footerArea .footerList .subcol ul li .iconImg {
    margin-right: 8px;
  }
  .footerArea .footerList .subcol ul li a {
    font-size: 14px;
  }
  .footerArea .footer-bottom {
    padding: 30px 0 0 0;
  }
  .footerArea .footer-bottom .footerCopyRight li {
    font-size: 14px;
  }
  .footerArea .footer-bottom .footerCopyRight li a {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .footerArea {
    padding: 0px 0 0px !important;
  }
  .footerArea .firstcol {
    padding: 0 35px !important;
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .footerArea .firstcol .bigleap .footerImage {
    height: 22vh !important;
  }
  .footerArea .firstcol .address h6 {
    font-size: 14px !important;
  }
  .footerArea .content {
    padding: 0 0 0 10px !important;
  }
  .footerArea .content .bigleapCnt {
    padding-top: 0px;
  }
  .footerArea .content .bigleapCnt h2 {
    line-height: 55px !important;
    font-size: 16px !important;
    margin: 10px 10px !important;
  }
  .footerArea .footerList .subcol {
    padding-left: 20px !important;
  }
  .footerArea .footer-bottom {
    padding: 10px 0 !important;
  }
  .footerArea .footer-bottom .footerCopyRight li {
    font-size: 9px !important;
  }
  .footerArea .footer-bottom .footerCopyRight li a {
    font-size: 9px !important;
  }
}/*# sourceMappingURL=footer.module.css.map */