.social-media-icon {
  position: fixed;
  right: 0;
  top: 500px;
  bottom: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.social-media-icon a {
  text-decoration: none;
}
.image{
       width: 60px;
    height: 60px;
    object-fit: scale-down;
    background: #ed2124;
    padding: 9px;
    margin: 2px 0
}
