.social-media-icon {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 999;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    right: 5px;
    top: 50%;
  }

  @media (max-width: 480px) {
    right: 3px;
  }
}

.social-media-icon a {
  text-decoration: none;
}
.image{
       width: 60px;
    height: 60px;
    object-fit: scale-down;
    background: #ed2124;
    padding: 1px;
    margin: 2px 0
}
