.test {
  padding: 240px 0 80px;
}
.test .diff {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.test .diff h2 {
  color: #fdfdfd;
  font-weight: 400;
  font-family: "Boldonse", system-ui !important;
  font-size: 64px;
  text-align: center;
}
.test .diff p {
  width: 60%;
  font-weight: 400;
  text-align: center;
  line-height: 125%;
  padding-top: 16px;
  color: #fdfdfd;
  font-family: "Montserrat", sans-serif !important;
}
.test .all {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 40px 150px;
  gap: 30px;
}
.test .all .each {
  border: 2px dotted #5f5f5f;
  height: 230px;
  padding: 15px 20px;
  border-radius: 12px;
}
@media (max-width: 767px) {
  .test .all .each {
    height: auto;
  }
}
.test .all .each .h5 {
  color: #ed2124;
  font-size: 16px;
  line-height: 125%;
  font-style: bold;
  font-weight: 700;
  font-family: "Montserrat", sans-serif !important;
}
.test .all .each p {
  font-family: "Montserrat", sans-serif !important;
  color: #fdfdfd;
  font-size: 16px;
  line-height: 125%;
  text-align: left;
}

@media (min-width: 1371px) and (max-width: 1560px) {
  .test {
    padding: 160px 0 30px !important;
  }
}
@media (min-width: 1025px) and (max-width: 1370px) {
  .test {
    padding: 150px 0 30px !important;
  }
  .test .diff h2 {
    font-size: 44px !important;
  }
  .test .diff p {
    text-align: center !important;
    width: 50% !important;
  }
}
@media (min-width: 993px) and (max-width: 1024px) {
  .test {
    padding: 0px 0 60px !important;
  }
  .test .diff h2 {
    font-size: 35px;
    line-height: 40px;
  }
  .test .diff p {
    width: 60% !important;
    font-size: 14px;
    line-height: 20px !important;
    text-align: center;
  }
  .test .all {
    flex-wrap: wrap;
    padding: 20px 0px;
    gap: 20px !important;
  }
  .test .all .each {
    height: auto !important;
  }
  .test .all .each p {
    font-size: 14px !important;
    text-align: left !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .test {
    padding: 20px 0 60px !important;
  }
  .test .diff h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .test .diff p {
    width: 80% !important;
    font-size: 14px;
    line-height: 20px !important;
    text-align: center !important;
  }
  .test .all {
    flex-wrap: wrap !important;
    padding: 20px 90px !important;
    gap: 20px !important;
  }
  .test .all .each {
    height: auto !important;
  }
}
@media (max-width: 767px) {
  .test {
    padding: 20px 0 40px !important;
  }
  .diff h2 {
    font-size: 25px !important;
    line-height: 50px !important;
  }
  .diff p {
    width: 90% !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .all {
    flex-direction: column !important;
    padding: 10px 30px !important;
  }
  .each {
    height: auto !important;
  }
  .each h5 {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .each p {
    font-size: 14px !important;
    line-height: 20px !important;
  }
}/*# sourceMappingURL=difference.module.css.map */