
// ABOUT CONTENT AREA

.about-main-section {
  position: relative;
  padding: 390px 0 80px 0;

  .about-sect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0 50px;

    .abt-img {
      .comic {
        width: 80%;
        height: auto;
        display: block;
        margin: auto;
      }
    }

    .abt-cnt {
      width: 80%;
      h4 {
        line-height: 100%;
        color: #fdfdfd;
        font-weight: 600;
        font-size: 30px;
        font-family: "montserrat", sans-serif !important;
        text-align: justify;
      }

      .aboutContent {
        padding-top: 10px;
        p {
          text-align: justify;
          color: #fdfdfd;
          font-family: "montserrat", sans-serif !important;
          font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        // padding-top: 15px;
      }
      .aboutList{
        li{
          color: #fdfdfd;
          font-family: "montserrat", sans-serif !important;

        }
      }
    }
  }
}

// Close .about-main-section block
}

// HISTORY AREA START

.history-area {
  padding: 80px 0 80px 0;

  .history-head {
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
      color: #fdfdfd;
      font-size: 96px;
      font-weight: 400;
      font-family: "Boldonse", system-ui !important;
      line-height: 93%;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 125%;
      color: #fdfdfd;
      font-style: normal;
      font-family: "Montserrat", sans-serif !important;
      text-align: center;
      padding: 45px 200px;
    }
  }
}

// responsive
@media (min-width: 1371px) and (max-width: 1560px) {
}
@media (min-width: 1025px) and (max-width: 1370px) {
   .about-main-section {
    padding: 100px 0 40px 0 !important;
   }
    .abt-cnt {
        width: 100% !important;
    }
    .comic {
      width: 90% !important;
      }
}
@media (min-width: 993px) and (max-width: 1024px) {
  .about-main-section {
    padding: 220px 0 40px 0 !important;

    .about-sect {
      flex-direction: column;
      padding: 0 50px;
.abt-img {
  display: flex;
  align-items: center;
  justify-content: center;
      .comic {
        width: 100%;
        height: auto;
        display: block;
      }
    }
      .abt-cnt {
        width: 100%;

        h4 {
          font-size: 24px;
        }
        .aboutContent {
        padding-top: 10px;
        p {
        font-size: 14px;
        line-height: 125%;
        // padding-top: 15px;
      }
    }
      }
    }
  }

  .history-area {
    padding: 100px 0 40px 0;

    .history-head {
      h2 {
        font-size: 48px;
      }

      p {
        padding: 20px 110px;
        font-size: 14px;
      }
    }
  }

}
@media (min-width: 768px) and (max-width: 992px) {
  .about-main-section {
    padding: 0px 0 40px 0;

    .about-sect {
      flex-direction: column;
      padding: 0 30px;
.abt-img {
  display: flex;
  align-items: center;
  justify-content: center;
      .comic {
        width: 60%;
        height: auto;
        display: block;
      }
    }
      .abt-cnt {
        width: 100%;

        h4 {
          font-size: 24px;
        }
      }
    }
  }

  .history-area {
    padding: 100px 0 40px 0;

    .history-head {
      h2 {
        font-size: 48px;
      }

      p {
        padding: 20px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 767px) {
  .about-main-section {
    padding: 0px 0 40px 0;

    .about-sect {
      flex-direction: column;
      padding: 0 0px;
.abt-img {
  display: flex;
  align-items: center;
  justify-content: center;
      .comic {
        width: 70%;
        height: auto;
        display: block;
      }
    }
      .abt-cnt {
        width: 100%;
        padding: 15px;

        h4 {
          font-size: 24px;
        text-align: left;

        }
      }
    }
  }

  .history-area {
    padding: 40px 0 40px 0;

    .history-head {
      h2 {
        font-size: 35px;
      }

      p {
        padding: 15px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}