.hero {
  height: 93vh;
  position: relative;
  overflow: visible;

}
  .hanging {
    position: relative;
    height: 100%;
  }
    .yeehaimage {
      display: block;
      margin: 0 auto;
      transform-origin: top center;
      filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.15));
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
      height: auto;
      max-width: 100vw;
    }
.image360{
  position: absolute;
  right: 170px;
  top: 120px;
}

    .characterimage {
      display: block;
      margin: 0 auto;
      transform-origin: top center;
      filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.15));
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      /* top: -112%; */
      max-width: 1200px;
      height: auto;

    }

    .hangAnchor {
        width: clamp(1px, 1%, 10px);
        height: 10px;
        background-color: aqua;
        position: absolute;
        left : 50%;
        top: -20%;
        overflow: visible;
    }
    .hangAnchor img{
        width: 1000%;
        height: auto;
        transform: scale(100) translateY(50%);
    }
  

