.sliderWrapper {
  position: relative;
}

.mySwiper {
  padding: 30px 0px;

  @media (max-width: 1024px) {
    padding: 20px 100px !important;

  }

  @media (max-width: 992px) {
    padding: 20px 50px !important;

  }
  @media (max-width: 767px) {
    padding: 10px 0px !important;
  }

 
}

.slideContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    padding: 0 !important;
  }

  
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideImage {
  object-fit: contain;
  width: 100%;
 
  @media (max-width: 767px) {
   height: 22vh !important;
  }
}

.client {
  margin-top: 8px;
  color: #fdfdfd;
  font-weight: 400;
  font-size: 16px;
  line-height: 93%;
  font-family: Montserrat, sans-serif !important;
}

.date {
  font-family: Roboto, sans-serif !important;
  margin-top: 8px;
  color: #fdfdfd;
  font-size: 14px;
  font-weight: 400;
  line-height: 125%;
}

.clientDate {
  display: flex;
  gap: 20px;
  padding-top: 10px;

  @media (max-width: 767px) {
    gap: 15px !important;
    padding-top: 8px !important;
  }

  
}

.caption {
  margin-top: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
  text-align: center;
  line-height: 93%;
  letter-spacing: 0%;

@media (max-width: 1024px) {
    font-size: 18px !important;
    margin-top: 6px !important;
  }

  @media (max-width: 767px) {
    font-size: 18px !important;
    margin-top: 6px !important;
  }

 
}

.readbtn {
  margin-top: 8px;
  background: none;
  border: none;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0%;
  font-style: normal;
  font-weight: 400;
  font-family: 'Roboto', sans-serif !important;
  color: #ed2124;
  cursor: pointer;

  @media (max-width: 1024px) {
    font-size: 17px !important;
    margin-top: 6px !important;
  }
  @media (max-width: 767px) {
    font-size: 12px !important;
    margin-top: 6px !important;
  }

  
}

.readbtn:hover {
  text-decoration: underline;
}

.active {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.inactive {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.swiper {
  width: 100%;
  height: 100%;
}