.singlebtn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 16px;
  
}

#swiper-nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ed232a;
  color: #fff;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  box-shadow: -4px 0px 0 0px #fff;
  padding: 16px 20px;
  cursor: pointer;
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1), background 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.videoArea{
position: relative;
width: 100%;
height: 400px;
display: flex;
justify-content: center;
align-items: center;
}
.sub{
  font-size: 24px;
  padding: 10px 24px;
  z-index: 1000;
  font-weight: bold;
  font-family: "system-ui, sans-serif";
  border-radius: 0;
  max-width: 60%;
  text-align: left;
  background: none;
  box-shadow: none;
}
.paragraph{
position: absolute;
top: 300px;
left: 40px;
color: #fff;
font-size: 16px;
font-style: regular;
text-align: justify;
font-family: "Montserrat", sans-serif !important;
/* padding: 0 90px; */
z-index: 999;
max-width: 33%;
font-weight: 400;                      
}
.caption{
  margin-top: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
  font-style: medium;
  text-align: center;
  line-height: 93%;
  /* padding-top: 10px; */
  letter-spacing: 0%;

}
.readbtn{
  margin-top: 8px;
  background: none;
  border: none;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0%;
  font-style: regular;
  font-weight: 400;
  font-family: 'Roboto', sans-serif !important;
  color: #ed2124;
}
.vdocaption{
position: absolute;
top: 80px;
left: 40px;
color: #fff;
font-size: 64px;
font-style: 400;
/* padding: 62px 80px; */
z-index: 999;
max-width: 40%;
font-weight: bold;
font-family: "Boldonse", system-ui !important;
line-height: 100px;
letter-spacing: 0%;

}           
.clientDate{
  display: flex;
  gap: 20px;
  padding-top: 10px;
}         
#swiper-nav-btn.left {
  left: 0;
}

#swiper-nav-btn.right {
  right: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.slideImage{
  width: 100%;
  height: 100%;
  object-fit: contain;
}