.sliderWrapper {
  position: relative;
  overflow: hidden;
}

.mySwiper {
  padding: 10px 0px;

  @media (max-width: 1024px) {
    padding: 20px 0px !important;
  }

  @media (max-width: 767px) {
    padding: 5px 0px !important;
  }
}

.video {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;

  @media (max-width: 1024px) {
    min-height: 710px !important;
    padding: 0 20px !important;
  }

  @media (max-width: 767px) {
    min-height: 400px !important;
    flex-direction: column !important;
    padding: 0 0 !important;

  }

 
}

.contentWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  @media (min-width: 1281px) and (max-width: 1560px) { 
  top: 30px;
  }
  @media (min-width:1025px) and (max-width: 1280px) {
  }
  @media (min-width:993px) and (max-width: 1024px) {
    top: 50px !important;
    left: 50px !important;
  }
  @media (min-width:768px) and (max-width: 992px) {
    top: 280px !important;
    left: 0 !important;
    right: 30px !important;
    bottom: auto !important;
  }

  @media (max-width: 767px) {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    text-align: center !important;
    pointer-events: auto !important;
    padding-top: 10px !important;
  }

 
}

.videoIframe {
  margin-left: 240px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

  @media (max-width: 1024px) {
    margin-left: auto !important;
    width: 70% !important;
  }
  @media (max-width: 992px) {
   width: 100% !important;
  }

  @media (max-width: 767px) {
    margin-left: 0px !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) !important;
    width: 90% !important;
    max-width: 100% !important;
  }

 
}

.videoSub {
  position: absolute;
  top: 180px;
  left: 20px;
  color: #fff;
  font-size: 16px;
  padding: 20px 24px;
  z-index: 1000;
  line-height: 93%;
  font-weight: 400;
  font-style: normal;
  font-family: Montserrat, sans-serif !important;
  border-radius: 0;
  max-width: 60%;
  text-align: left;
  background: none;
  box-shadow: none;

  @media (max-width: 1024px) {
    top: 250px !important;
    left: 0px !important;
    font-size: 16px !important;
    padding: 15px 20px !important;
    max-width: 45% !important;
  }

  @media (max-width: 767px) {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    text-align: center !important;
    max-width: 100% !important;
    padding-left: 20px !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    order: 1 !important;
  }

 
}

.videoArea {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    height: 300px !important;
  }

 
}

.paragraph {
  position: absolute;
  top: 470px;
  left: 40px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  text-align: justify;
  font-family: "Montserrat", sans-serif !important;
  z-index: 999;
  max-width: 33%;
  font-weight: 400;
  line-height: 1.5;

  @media (max-width: 1370px) {
    top: 420px;
  }
  @media (max-width: 1024px) {
    top: 330px !important;
    left: 23px !important;
    font-size: 16px !important;
    max-width: 50% !important;
    line-height: 1.6 !important;
    text-align: left !important;
  }

  @media (max-width: 992px) {
    max-width: 75% !important;
  }
  @media (max-width: 767px) {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    text-align: left !important;
    max-width: 100% !important;
    padding: 0 14px !important;
    margin-top: 0 !important;
    font-size: 14px !important;
    order: 3 !important;
  }

  
}

.vdocaption {
  position: absolute;
  top: 250px;
  left: 40px;
  color: #fff;
  font-size: 64px;
  font-style: normal;
  z-index: 999;
  max-width: 40%;
  font-weight: bold;
  font-family: "Boldonse", system-ui !important;
  line-height: 100px;
  letter-spacing: 0%;

  @media (max-width: 1370px) {
  line-height: 80px;
  font-size: 54px;


  }
  @media (max-width: 1024px) {
    top: 280px !important;
    left: 20px !important;
    font-size: 20px !important;
    line-height: 55px !important;
    max-width: 45% !important;
  }

  @media (max-width: 992px) {
    font-size: 25px !important ;
    max-width: 70% !important;
  }
  @media (max-width: 767px) {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    text-align: left !important;
    max-width: 100% !important;
    font-size: 18px !important;
    line-height: 20px !important;
    padding: 0 13px !important;
    margin: 10px 0 !important;
    order: 2 !important;
  }

 

}

.active {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.inactive {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.swiper {
  width: 100%;
  height: 100%;
}