.title-banner {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px 0 0 0;
  position: relative;
  h1 {
    color: white;
    text-align: center;
    font-weight: 400;
    line-height: 100px;
    font-size: 64px;
    width: 60%;
    // height: 60vh;
    font-family: "Boldonse", system-ui !important;
  }
  p {
    color: #fff;
    font-family: Montserrat, sans-serif !important;
    text-align: center;
  }
}
