.listSection {
  padding: 0px 0 80px 0;
  .all {
    padding: 0 50px;
    .listStyle {
      padding: 0 40px;
      h2{
        font-family: "Boldonse", system-ui, sans-serif !important;
        color: #fdfdfd;
      }
      h3 {
        color: #fdfdfd;
        padding: 20px 0;
        font-size: 30px;
        font-weight: 600;
        text-align: justify;
        font-family: "montserrat", sans-serif !important;
      }
      p {
        color: #fdfdfd;
        text-align: justify;
        font-size: 16px;
        line-height: 125%;
        font-family: "montserrat", sans-serif !important;
      }
    }
  }
}

// responsive design
@media (max-width: 1370px) {
  
}
@media (max-width: 1024px) {
  .listSection{
        padding: 20px 0 80px !important;
  }
 .listStyle {
      padding: 0 20px !important;
      h3 {
        font-size: 25px !important;
        padding: 10px 0 !important;
      }
      p{
        font-size: 12px !important;
      }
}
}
@media (max-width: 992px) {
  .listSection {
    padding: 0px 0 40px 0 !important;
    .all {
      padding: 0 0px;
    }
  }
}

@media (max-width: 767px) {
  .listSection {
    padding: 0px 0 40px 0 !important;
    .all {
      padding: 0 0px;
      .listStyle {
        padding: 0 10px !important;
        h3 {
          font-size: 20px !important;
        padding: 0px 0 !important;

        }
        p {
          font-size: 14px;
          text-align: left;
        }
      }
    }
  }
}
