.listSection {
  padding: 150px 0 80px 0;
  .all {
    padding: 0 100px;
    .listStyle {
      padding: 0 20px;
      h3 {
        color: #fff;
        padding: 20px 0;
        font-size: 1.2rem;
      }
      p {
        color: #ccc;
        text-align: justify;
      }
    }
  }
}
