.ContactBanner {
  padding: 180px 0;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    gap: 140px;
    list-style: none;
    li {
      text-decoration: none;
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          color: #ed2124;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}

// Responsive styles

@media (max-width:1370px){

}
@media (max-width:1024px){
.ContactBanner{
  ul{
    gap: 70px;
  }
}
}
@media (max-width:992px){
.ContactBanner{
  ul{
    gap: 30px;
  }
}
}

@media (max-width:767px){
.ContactBanner{
  // justify-content: flex-start;
  ul{
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
}

}