.faqSection {
  padding: 270px 0 80px 0;
}
.faqSection .faqrow {
  width: 100%;
  display: flex;
  gap: 50px;
  padding: 0 80px;
}
.faqSection .faqrow .faqContent {
  flex: 0 0 33.333%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faqSection .faqrow .faqContent .title {
  color: #fdfdfd;
  font-family: "Boldonse", system-ui !important;
  font-weight: 400;
  margin: 0;
  text-align: left;
  font-size: 64px;
  line-height: 90px;
}
.faqSection .faqrow .faqList {
  flex: 0 0 66.667%;
}
.faqSection .faqrow .faqList .accordionItem {
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.faqSection .faqrow .faqList .accordionItem .accordionHeader {
  background: #ed2124;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
.faqSection .faqrow .faqList .accordionItem .accordionHeader:hover {
  background: #ed2124;
}
.faqSection .faqrow .faqList .accordionItem .accordionHeader .question {
  color: #fdfdfd;
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
  line-height: 125%;
  font-family: "Montserrat", sans-serif !important;
}
.faqSection .faqrow .faqList .accordionItem .accordionHeader .arrow {
  font-size: 14px;
  transition: transform 0.2s ease;
}
.faqSection .faqrow .faqList .accordionItem .accordionContent {
  font-weight: 400;
  color: #fdfdfd;
  font-size: 16px;
  padding: 24px;
  line-height: 125%;
  text-align: justify;
  animation: fadeIn 0.3s ease;
  font-family: "Montserrat", sans-serif !important;
}
.faqSection .faqrow .faqList .accordionItem .accordionContent p {
  margin: 0;
  line-height: 1.6;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .faqSection {
    padding: 80px 0 60px 0;
  }
  .faqrow {
    flex-direction: column;
    gap: 40px;
    padding: 0 40px !important;
  }
  .faqrow .faqContent {
    flex: 1;
  }
  .faqrow .faqContent .title {
    font-size: 39px !important;
    line-height: 40px !important;
    text-align: center !important;
  }
  .faqrow .faqList {
    flex: 1;
  }
  .faqrow .faqList .accordionItem .accordionHeader {
    padding: 15px 20px !important;
  }
  .faqrow .faqList .accordionItem .accordionHeader .question {
    font-size: 18px !important;
  }
  .faqrow .faqList .accordionItem .accordionContent {
    padding: 15px !important;
  }
}
@media (max-width: 767px) {
  .faqSection {
    padding: 80px 0 50px 0;
  }
  .faqrow {
    flex-direction: column;
    gap: 40px;
    padding: 0 10px !important;
  }
  .faqrow .faqContent {
    flex: 1;
  }
  .faqrow .faqContent .title {
    font-size: 40px !important;
    line-height: 55px !important;
    text-align: center !important;
  }
  .faqrow .faqList {
    flex: 1;
  }
  .faqrow .faqList .accordionItem .accordionHeader {
    padding: 10px 20px !important;
  }
  .faqrow .faqList .accordionItem .accordionHeader .question {
    font-size: 16px !important;
  }
  .faqrow .faqList .accordionItem .accordionContent {
    padding: 10px !important;
  }
}/*# sourceMappingURL=faq.module.css.map */