.swipe {
    padding: 120px 0 80px 0;
    position: relative;
  .stikyText {
    z-index: 999;
    height: 30%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
    width: 50%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      z-index: -1;
      transition: all 0.3s ease-in-out;
      // background-color: #000000;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      z-index: -1;
      transition: all 0.3s ease-in-out;
      // background-color: #dd42428a;
      background: linear-gradient(
        90deg,
        rgba(15, 14, 14, 1) 61%,
        rgba(36, 34, 34, 1) 70%,
        rgba(52, 48, 48, 1) 74%,
        rgba(92, 84, 84, 1) 81%,
        rgba(103, 92, 94, 1) 84%,
        rgba(109, 96, 99, 1) 90%,
        rgba(117, 102, 107, 1) 94%,
        rgba(142, 121, 130, 1) 97%,
        rgba(166, 143, 151, 1) 100%
      );
    }
    h2{
        color: #fff;
    }
    p{
        color: #fff;
    }
  }
}
