.portfolio-entry{
    position: relative;
    height: 50dvh;
    margin: 300px 0;
    .fullContent{
   
.content{
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3{
        color: #fdfdfd;
        font-size: 64px;
        font-family: "Boldonse", sans-serif !important;
    }
    p{
        color: #fdfdfd;
        font-size: 16px;
        font-family: "montserrat", sans-serif !important;
        width: 30%;

    }
}
    .portfolio-image{
        width: auto;
        height: 23%;
        max-height: 700px !important;
        min-height: 600px !important;
        margin-top: 10px;
        position: absolute;
        bottom: 0;
        right: 190px;
        z-index: 1;
    }
}

    .buttonWrapper {
        position: relative;
        z-index: 100;
    }
    
}

.open{
    width : 100%;
}

.focused {
    
    
    .description {
        display: block; // Ensure description is visible when focused
    }
}

.unfocused {
    width: 100%;
    
    .description {
        display: none; // Hide description when unfocused
    }
    .portfolio-image{
        // width: 90% !important;
        position: absolute;
        bottom: 0;
        right: 80px !important;
        height:90% !important;
        width: auto !important;
    }
    h3{
        font-size: 44px !important;
    }
    .content{
        padding: 280px 0 0 0 !important;
        position: relative;
        z-index: 2; // Ensure content appears over the image when unfocused
    }
}




.closed{
    width : 0%;
    overflow: hidden;
}

.portfolioEntryWrapper{
    position: relative;
    transition: width 0.5s ease;
}

.buttonWrapper{
    position: absolute;
    width: fit-content;
    right: 0;
    top : 50%;
    transform: translateY(-50%);
    // inset: 0;
    margin-right: 50px;
    z-index: 100;
}