.portfolio-entry{
    background-color: rgb(105, 48, 105);
    position: relative;
    height: 40dvh;

    .fullContent{
   
.content{
padding: 90px 0;

    h3{
        color: #fdfdfd;
        font-size: 64px;
        font-family: "Boldonse", sans-serif !important;
    }
    p{
        color: #fdfdfd;
        font-size: 16px;
        font-family: "montserrat", sans-serif !important;
        width: 30%;

    }
}
    .portfolio-image{
        width: 20%;
        height: auto;
        margin-top: 10px;
        position: absolute;
        bottom: 0;
        right: 190px;
        z-index: 1;
    }
}

    .buttonWrapper {
        position: relative;
        z-index: 10;
    }
    
}

.open{
    width : 100%;
}
.closed{
    width : 0%;
    overflow: hidden;
}

.portfolioEntryWrapper{
    position: relative;
    transition: width 0.5s ease;
}

.buttonWrapper{
    position: absolute;
    width: fit-content;
    right: 0;
    top : 50%;
    transform: translateY(-50%);
    // inset: 0;
    margin-right: 50px;
}