.portfolio-entry{
    position: relative;
    height: 53dvh;
    margin: 300px 0;
    .fullContent{
   
.content{
    position: relative;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2; // Ensure content appears over the image

    h3{
        color: #fdfdfd;
        font-size: 64px;
        font-family: "Boldonse", sans-serif !important;
    }
    p{
        color: #fdfdfd;
        font-size: 16px;
        font-family: "montserrat", sans-serif !important;
        width: 30%;
        min-width: 25rem;

    }
}
    .portfolio-image{
        width: auto;
        // height: 23%;
        max-height: 700px;
        min-height: 600px;
        margin-top: 10px;
        position: absolute;
        bottom: 0;
        right: 190px;
        z-index: 1;
        transition: transform 0.5s ease;

    }
    .fullContent{
        transition: transform 0.5s ease;}
}

    .buttonWrapper {
        position: relative;
        z-index: 100;
    }
    
}

.open{
    width : 100%;
    min-width: 475px;
}

.focused {
    
    
    .description {
        display: block; // Ensure description is visible when focused
    }
}

.unfocused {
    width: 40%;
    
    .description {
        display: none; // Hide description when unfocused
    }
    .portfolio-image{
        // width: 90% !important;
        position: absolute;
        bottom: 0;
        right: 80px !important;
        // height:90% !important;
        width: auto !important;
    }
    h3{
        font-size: 44px !important;
    }
    .content{
        padding: 280px 0 0 0 !important;
        position: relative;
        z-index: 2; // Ensure content appears over the image when unfocused
    }
}


.closed{
    width : 0%;
    overflow: hidden;

    .fullContent{
        transform: translateX(300%);
    }
    .portfolio-image{
        transform: translateX(300%);
    }
    
}

.portfolioEntryWrapper{
    position: relative;
    transition: width 0.5s ease;
}

.buttonWrapper{
    position: absolute;
    width: fit-content;
    right: 0;
    top : 50%;
    transform: translateY(-50%);
    // inset: 0;
    margin-right: 50px;
    z-index: 100;
}

// responsive section
@media (min-width: 1561px)  {
}
@media (min-width: 1371px) and (max-width: 1560px) {
}
@media (min-width: 1025px) and (max-width: 1370px) {
    
    .portfolio-entry{
        height: 40dvh !important;
    }
  
}

   .open{
    min-width: 250px !important;
}

.buttonWrapper{
    margin-right: 10px !important;
}

    .unfocused{
       .portfolio-image{
            right: 0 !important;
            left: 0 !important;
    }
    .content{
        padding: 220px 0 0 0 !important;
    }
}
    .portfolio-image{
        right: 0px !important;
            min-height: 500px !important;
            max-height: 500px !important;
    }
    .portfolio-entry{
        height: 50dvh!important;
    }
    .content{
      padding: 60px 50px !important;


}
@media (max-width: 1024px) {
    .portfolio-entry{
        height: 60dvh!important;
    }
    .portfolio-image{
        right: 0 !important;
    }
}
