.creative-team {
  padding: 170px 0 80px 0;
  h2 {
    color: #fdfdfd;
    font-size: 64px;
    font-family: "Boldonse", system-ui !important;
    line-height: 90px;
    text-align: center;
    padding-bottom: 20px;
  }
.teamRow{
  padding: 0 100px;
  .profileCol{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
  .image-style:hover {
    background: rgb(206, 25, 25);

    img {
      transform: scale(0.98);
    }
  }
  .image-style {
    transition: all 0.3s ease-in-out;
    img {
      width: 100%;
      transition: all 0.3s ease-in-out;
      object-fit: contain;
    }
  }
  .content {
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 20px 0;
    h6 {
      color: #fff;
      font-family: "Boldonse", system-ui !important;
    }
    p {
      color: #afadad;
    }
  }
}

.profile {
  
  .image-style {
  }
}
